@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap');

:root{
    --green:rgb(182, 247, 86);
    --yellow: rgb(244, 246, 141);
    --blue: rgb(175 227 255);
    --lightGrey: #f4f4f4;
    --pink: #ff8381;
     --orange: #f9ac66; 
    /* --red: #ED6B5B; */
}
* {
    margin: 0;
    padding: 0px;
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
body{
    display: grid;
    grid-template-columns: .9fr 6fr;
    grid-template-rows: 120px 6fr;
    width: 100vw;
    height: 100vh;
}
 /* main structure */
.nav{
    background-color: var(--orange);
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    place-items: center;
    position: relative;
}

.side{
    background-color: var(--lightGrey);
    display: flex;
    flex-direction: column;
    color: black;
}

.content{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* nav */
.title{
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 2.5rem;
    color: white;
    font-weight: 600;
}

/* sidebar */
.list{
    font-size: x-large;
    margin: 20px 0px;
    margin-left: 20px;
}

.side-list-item{
    font-size: 1.2rem;
    cursor: pointer; 
    break-inside: avoid;
}


.today,
.week{
    display: flex;
}

/* sidebar form */
.addProjectForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.addProjectForm input {
    width: 130px;
    padding: 10px 10px;
    min-width: 10px;
}

.addButton{
    width: 50px;
    height: 25px;
}


.list-title{
    font-size: xx-large;
    margin-bottom: 10px;
    font-weight: 500;
    margin-right: 50px;
}

/* content */

.projectDescription{
    margin-bottom: 20px;
    font-size: 1.3rem;
}
.projectDetailsDiv{
    width: 90%;
    border-bottom: solid 3px rgb(87, 87, 87);
    align-self: center;
    padding: 10px;
    margin-bottom: 20px;
}

.projectDueDate{
    padding-bottom: 10px;
    font-style: italic;
}

.box{
    width: clamp(350px, 1200px, 90%)
}


.box,
.complete-box{
    display: grid;
    grid-template-columns: 4fr repeat(2, 1fr);
    align-items: center;
    justify-content: stretch;
    box-shadow: 0px 3px 10px rgb(169, 168, 168);
    border-radius: 1rem;
    margin: 10px 0px;
    background-color: rgb(255, 252, 252);
    align-self: center;
    padding-top: 10px;
}

.complete-box,
.complete-list{
    border-radius: 1rem;
    background-color: rgb(231, 249, 203);
}

.complete-box{
    display: grid;
    grid-template-columns: 1fr;
    width: clamp(350px, 600px, 90%)
}

.complete-list{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    justify-self: center;
}

.box:hover{
    filter: brightness(105%);
}

.empty{
    display: grid;
    place-items: center;
    padding: 12.5px 0px;
    margin: 15px 0px;
    border-radius: 0.5rem;
    width: clamp(350px, 1200px, 90%);
    align-self: center;
    box-shadow: 0px 3px 10px rgb(169 168 168);
}
.noTasks{
    font-size: 1.5rem;
}

.list-item{
    padding-left: 10px;
}

.projectTitle{
    width: 80%;
    align-self: center;
    font-size: 3rem;
    width: max-content;
    break-inside: avoid;
}

.projDetailsButtonsHolder{
    display: flex;
    margin-bottom: 10px;
}


.task-list{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    font-size: x-large;
    justify-self: center;
}

.editTaskForm,
.editProjectForm{
    display: grid;
    align-items: center;
    grid-column: span 3;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
}

.editTaskForm label,
.editProjectForm label{
    /* width: min-content;
    justify-self: flex-end;
    margin: 10px;
    margin-right: 0px; */
}

.editTaskForm input,
.editProjectForm input{
    margin: 10px;
    flex-grow: 1;
    padding: 0px 15px;
}

.addTaskForm{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.addTaskForm input{
    margin-right: 15px;
    padding-left: 10px;
}

.addTaskDiv{
    display: grid;
    place-items: center;
    height: 60px;
}

.completeTitleDiv{
    text-align: center;
    margin-top: 50px ;
}

.compDate{
    text-align: right;
    padding-right: 15px;
}

/* Diary section */

.diary-list{
    grid-template-columns: repeat(3, 1fr) auto;
}


/* SVG */
.todaySVG,
.weekSVG{
    margin-right: 5px;
}

.checkSVG{
    place-self: center;
    height: 30px;
    width: 30px;
}

.desc{
    padding-top: 10px;
    padding-bottom:20px;
    padding-right: 10px;
    grid-column: span 2;
    font-size: large;
}

.task-title{
    font-weight: bold;
}

.task-date{
    font-style: italic;
        font-weight: 200;
        white-space: nowrap;
        overflow: visible;
}

/**/
/* BUTTONS */

button,
input{
    border-radius: 1rem;
    box-shadow: 0px 3px 10px rgb(216, 213, 213);
    min-height: min-content;
    min-width: min-content;
    border: none;
}
button{
    width: 60px;
    height: 30px;
    margin: 10px;
    justify-self: center;
    align-self: center;
    display: grid;
    place-items: center;
}
button:hover{
    filter: brightness(110%);
    cursor: pointer;
    transform: translate(5%);
}
/* green buttons */

.editProjectButton,
.viewProject,
.editCompleteButton,
.completeProject{
    background-color: var(--green);
}
.editProject,
.completeProject{
    margin: 0;
    margin-right: 5px;
}

.editProjectButton{
    grid-column: span 2;
}

 /* blue buttons */

.editButton,
.viewProject{
    background-color: var(--blue);
}

/* yellow button */

.addTask,
.addTaskButton,
.addTaskForm button,
.addProjectForm button{
    background-color: var(--yellow);
    grid-column: span 2;
}

/* add project button */

.addProject{
    min-width:55px;
    min-height: 55px;
    border-radius: 50%;
    font-size: xx-large;
    border: none;
    align-self: center;
    margin-top: 10px;
    background-color: white;
}

.menu{
    height: 22px;
    width: 30px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
}

.menu:hover{
    cursor: pointer;
}

.piece{
    background-color: white;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 999px){
    body
    {
        grid-template-columns: 6fr;
    }

    .side
    {
        display: none;
    }

    .showSide{
        position: absolute;
        top: 120px;
        left: 0;
        height: calc(100% - 120px);
    }
}

@media screen and (min-width: 998px){
    .menu{
    display: none;
    }

    .side{
        display: flex;
        box-shadow: 0px 3px 10px rgb(169, 168, 168);
    }

    .showSide{
        display: flex;
    }
}