* {
    margin: 0;
    padding: 0px;
}

body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
    width: 100vw;
    height: 100vh;
}

.nav{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}

.side{
    background-color: blue;
}

.content{
    background-color: palegreen;
}

.title{
    text-align: center;
    align-self: center;
    justify-self: center;
}