@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

:root{
    --green:rgb(182, 247, 86);
    --red: rgb(252, 130, 130);
    --blue: rgb(175 227 255);
}
* {
    margin: 0;
    padding: 0px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
body{
    display: grid;
    grid-template-columns: .9fr 6fr;
    grid-template-rows: 1fr 6fr;
    width: 100vw;
    height: 100vh;
}
 /* main structure */
.nav{
    background-color: rgb(87, 87, 87);
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    place-items: center;
    
}

.side{
    background-color: rgb(219, 217, 217);
    box-shadow: 0px 3px 10px rgb(169, 168, 168);
    display: flex;
    flex-direction: column;
}

.content{
    background-color: rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    padding: 1rem 1rem;
    overflow: scroll;
}

/* nav */
.title{
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 4rem;
    color: rgb(241, 240, 240);
}

/* sidebar */
.list{
    font-size: x-large;
    margin: 20px 0px;
    margin-left: 20px;
}

.side-list-item{
    font-size: 1.2rem;
    cursor: pointer; 
    break-inside: avoid;
}


.today,
.week{
    display: flex;
}

/* sidebar form */
.addProjectForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.addProjectForm input{
    padding: 5px 10px;
}

.addButton{
    width: 50px;
    height: 25px;
}


.list-title{
    font-size: xx-large;
    margin-bottom: 10px;
    font-weight: 500;
}

/* content */


.projectDetailsDiv{
    width: 80%;
    align-self: center;
}

.box,
.complete-box{
    display: grid;
    align-items: center;
    justify-content: stretch;
    box-shadow: 0px 3px 10px rgb(169, 168, 168);
    border-radius: 1rem;
    margin: 10px 0px;
    background-color: rgb(255, 252, 252);
    min-width: min-content;
    width: 80%;
    align-self: center;
}

.complete-box,
.complete-list{
    height: 50px;
    border-radius: 1rem;
    background-color: rgb(231, 249, 203);
}
.complete-box{
    display: grid;
    grid-template-columns: 1fr;
}

.complete-list{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    justify-self: center;
}

.box:hover{
    filter: brightness(105%);
}

.empty{
    height: 70px;
}

.list-item{
    justify-self: center;
}

.projectTitle{
    width: 80%;
    align-self: center;
    font-size: 3rem;
    margin-bottom: 10px;
    width: max-content;
    break-inside: avoid;
}

.projDetailsButtonsHolder{
    display: flex;
    margin-bottom: 10px;
}


.task-list{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(3, 1fr) auto auto;
    font-size: x-large;
    justify-self: center;
}

.editTaskForm,
.editProjectForm{
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.editTaskForm label,
.editProjectForm label{
    width: min-content;
    justify-self: flex-end;
    margin: 10px;
    margin-right: 0px;
}

.editTaskForm input,
.editProjectForm input{
    margin: 10px;
    flex-grow: 1;
    padding: 0px 15px;
}

.addTaskForm{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.addTaskForm input{
    margin-right: 15px;
    padding-left: 10px;
}

.addTaskDiv{
    display: grid;
    place-items: center;
    height: 60px;
}

.completeTitleDiv{
    text-align: center;
    margin-top: 50px ;
}


/* Diary section */

.diary-list{
    grid-template-columns: repeat(3, 1fr) auto;
}


/* SVG */
.todaySVG,
.weekSVG{
    margin-right: 5px;
}

.checkSVG{
    place-self: center;
    height: 30px;
    width: 30px;
}

.desc{
    text-align: left;
    justify-self: start;
}

/**/
/* BUTTONS */

button,
input{
    border-radius: 1rem;
    box-shadow: 0px 3px 10px rgb(216, 213, 213);
    min-height: min-content;
    min-width: min-content;
    border: none;
}
button{
    width: 60px;
    height: 30px;
    margin: 10px;
    justify-self: center;
    align-self: center;
    display: grid;
    place-items: center;
}
button:hover{
    filter: brightness(110%);
    cursor: pointer;
}

/* green buttons */
.addTaskButton,
.editProjectButton,
.addTaskForm button,
.addProjectForm button,
.addTask,
.viewProject{
    background-color: var(--green);
}

 /* blue buttons */

.editButton{
    background-color: var(--blue);
}

/* red button */

.editCompleteButton,
.completeProject{
    background-color: var(--red);
}

/* add project button */

.addProject{
    min-width:55px;
    min-height: 55px;
    border-radius: 50%;
    font-size: xx-large;
    border: none;
    align-self: center;
    margin-top: 10px;
}